---
layout: default
---

<div class="row">
  <div class="col-sm-12 px-4">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 p-4 py-0">
    <p class="text-start text-muted m-0">
      Publisher: {{ page.publisher }}<br />
      By {{ page.author }}<br />
      Date {{ page.published }}<br />
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 px-4">
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-sm-12 p-4 pt-0 text-start">
    <div class="card p-4 border-primary">
      <div class="card-content">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center align-items-center mb-4">
  <div class="col-sm-12 col-md-5 m-4">
    <a class="btn btn-primary text-light" href="/assets/pdf/{{ page.pdf }}">
      <i class="bi bi-file-pdf-fill"></i>
      Download PDF
    </a>
  </div>
  <div class="col-sm-12 col-md-5 m-4">
    <a class="btn btn-primary text-light" href="/assets/pdf/{{ page.pdfjp }}">
      <i class="bi bi-file-pdf-fill"></i>
      Download Japanese Ver. PDF
    </a>
  </div>
</div>